﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

@-ms-viewport{
width:auto!important;
} 

/*Broadcasts */
table.b {
    border: 1px solid black;
    table-layout: fixed;
    width: 600px;
}

tr, td {
    border: 1px solid black;
}

/*Timestamp*/
td.t {
    width: 120px;
    border: 1px solid black;
}

/*Schedule time*/
td.st {
    width: 200px;
    border: 1px solid red;
}

/*Schedule content*/
td.sc {
    max-width: 400px;
    border: 1px solid black;
}


/*Title*/
td.ti {
    max-width: 200px;
    border: 1px solid black;
    overflow: hidden;
}


/*Channel*/
td.c {
    max-width:150px;
    border: 1px solid black;
    overflow: hidden;
}


.subscript{font-size:xx-small; vertical-align:bottom;} 
/*
div {
    border:solid;
    border-color:black;
}
*/
.column1 {
    background-color: lightgray;
    float:left;
    width:32%;
}
.column2 {
    background-color:lightgray;
    float:left;
    width:32%;
}
.column3 {
    background-color:lightgray;
    float:left;
    width:32%;
}
#div4 {
    background-color:orange;
}
#div5 {
    background-color:lightblue;
}
#div6 {
    background-color:lightgray;
}

.dragging {
    background-color:yellow;
}

.backgroundOK{
    background-color:#aaffaa;
}  

#backgroundError{
    background-color:#ffaaaa;
}  


#container {
    border:solid;
    width:332px;
    height:332px;
    margin-right:auto;
    margin-left:auto;
}

.hole {
    background-color:black;
    border:solid;
    width:160px;
    height:160px;
    float:left;
}

.item{
    font-size:128px;
    font-family:Arial, Helvetica, sans-serif;
    width:140px;
    height:140px;
    background-color:#C0C0C0;
    color:#FFFFFF;
    text-align:center;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}


legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

div.b {
    display: table-row;
    /* background-color: lightcoral; */
    border: 1px solid #000;
}

div.st {
    display: table-cell;
    background-color: lightpink;
    width: 20%;
}

div.title {
    display: table-cell;
    /*background-color: lightblue; */
    font-weight: bold;
    width: 20%;
}
div.desc {
    display: table-cell;
    /*background-color: lightgreen; */
    width: 60%;
}
div.schedules {
    display: table;
    border-collapse: collapse;
}

a.comment {
    font-weight:bold;
}

a:visited {
    color:red;
}

a.fComment {
    font-weight:bold;
    background-color:lightpink;
}


.commentInput input {
    width:100%;
    height: 80px;
}

.yearInput input {
    width: 35px;
}
.codeInput input {
    width: 65px;
}
.typeInput input {
    width: 12px;
}
.twoCharInput input {
    width: 25px;
}

tr.trSeparator  {
    border-bottom: 1px solid black;
}

.n {
    background-color:pink
}